<?xml version="1.0" encoding="UTF-8" ?>
    <!-- BASIC INFO: NAME, VERSION, AUTHOR -->
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.greeninfo.pip_hoods"
        version   = "1.0.0">
    <name>Mistr Rogers</name>
    <description>
        
    </description>
    <author href="http://www..org/" email="">
        
    </author>
    
        <icon src="icons/icon.png" /> <!-- default icon -->
        <icon src="icons/ios/57.png" gap:platform="ios" width="57" height="57" />
        <icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" /> <!--  36 x 36 px -->
        
        <!-- <gap:splash src="splash/splash.png" /> --> <!-- the default splash screen -->        
    <!-- PERMISSIONS -->
    <!--
    This is important for the credibility of your application, if distributed to strangers via the App Store.
    -->
        <!-- to use NO permissions, use this and comment the rest. INTERNET permissions is always enabled anyway -->
        <!-- <preference name="permissions" value="none"/> -->
        <feature name="http://api.phonegap.com/1.0/geolocation"/> <!-- ACCESS_COARSE_LOCATION ACCESS_FINE_LOCATION ACCESS_LOCATION_EXTRA_COMMANDS -->
        <feature name="http://api.phonegap.com/1.0/notification"/> <!-- VIBRATE -->
        <feature name="http://api.phonegap.com/1.0/network"/>
        
        <!-- <feature name="http://api.phonegap.com/1.0/battery"/> 
        <feature name="http://api.phonegap.com/1.0/camera"/> 
        <feature name="http://api.phonegap.com/1.0/contacts"/> 
        <feature name="http://api.phonegap.com/1.0/file"/> 
        <feature name="http://api.phonegap.com/1.0/media"/>  -->
        
        
    <!-- IOS STUFF -->
        <!-- should hyperlinks open within the app's webview or the default browser? true=app webview, false=browser -->
        <preference name="stay-in-webview" value="true" />
        <!-- should phone numbers and email addresses automagically become hyperlinks to default actions? (true=yes, false=no) -->
        <preference name="detect-data-types" value="true" />
        <!-- should the app terminate when the home button is pressed or stay running and simply resume? true=terminate, false=stay -->
        <preference name="exit-on-suspend" value="false" />

    <!-- ANDROID STUFF -->
        <!-- how many milliseconds to show the splashscreen? -->
        <preference name="splash-screen-duration" value="3000" />

</widget>